<!doctype html>
<html ng-app="App" >
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="data/style.css" rel="stylesheet">
    <script src="data/angular-1.2.21.min.js"></script>
    <script src="data/script.js"></script>
</head>

<body ng-controller="FriendFeedCtrl">

    <div ng-if="parsing" class="parsing_message">
        Parsing json file. Please wait a bit.
    </div>

    <div class='post_block' ng-repeat="p in posts">
        <pre class='post_text' ng-bind-html="p.text"></pre>
        <div ng-if='p.likes.length'>
            <img src="/data/emoticon_smile.png">
            <span ng-repeat='l in p.likes'>
                <a href="https://friendfeed.com/{{ l.from.id }}" class="name">{{ l.from.name }}</a>
            </span>
        </div>

        <div ng-repeat='c in p.comments' class="comment">
            <img src="/data/comment.png">
            <span ng-bind-html="c.body"></span>
            <a href="https://friendfeed.com/{{ c.from.id }}" class="name">{{ c.from.name }}</a>
        </div>
    </div>

    <div class='footer'>
        <a href="https://github.com/rubus-io/rubus_friendfeed">Source code</a>
    </div>

</body>
</html>
